<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ws.model.dao.CommentVideoDao">
	<resultMap type="CommentVideo" id="CommentVideoMap">
 		<result column="commentSeq" property="commentSeq" />
		<result column="commentVideoSeq" property="commentVideoSeq" />
		<result column="commentUserId" property="commentUserId" />
		<result column="commentContent" property="commentContent" />
		<result column="commentJoinedAt" property="commentJoinedAt" />
	</resultMap>
	
	<!-- 게시판 작성 -->
	<insert id="CommentVideoWrite" parameterType="CommentVideo">
		<!-- seq는 autoIncrease니까 insert할 때 직접 넣지 않는다. -->
		<!-- 입력할 때 비디오 번호, 유저이름, 댓글내용만 있으면 됨 -->
		insert into commentVideos(commentVideoSeq,
		commentUserId,commentContent)
		values (#{commentVideoSeq},
		#{commentUserId},#{commentContent});
	</insert>


	<!-- 전체 조회 -->
	<select id="CommentVideoList" parameterType="int" resultType="CommentVideo">
		<!-- 전체 리스트 조회 -->
		SELECT *
		FROM commentVideos
		WHERE commentVideoSeq=#{commentVideoSeq}
	</select>


	<!-- seq로 하나 조회 -->
	<select id="CommentVideoDetail" parameterType="int"
		resultMap="CommentVideoMap">
		<!-- seq가 같은 친구의 전체를 보여주겠다. -->
		SELECT *
		FROM commentVideos
		WHERE commentSeq = #{commentSeq};
	</select>




	<!-- 댓글 내용 수정 -->
	<update id="CommentVideoUpdate" parameterType="CommentVideo">
		UPDATE commentVideos
		SET
		<!-- seq는 pk이므로 수정하지 않는다. -->
		<!-- 댓글은 내용만 수정하면 됨 => 어차피 로그인한 사용자만 접근 가능 하므로 -->
		commentContent=#{commentContent}
		where commentSeq=#{commentSeq}
	</update>

	<!-- 게시글 삭제 -->
	<delete id="CommentVideoDelete" parameterType="int">
		<!-- seq같은 녀석 날려버리기 -->
		DELETE FROM commentVideos
		WHERE
		commentSeq =
		#{commentSeq}
	</delete>

</mapper>